name: CPU Base Image

on:
    workflow_dispatch:
    push:
        branches: [main]
        paths:
            - "Dockerfile.builder"
    schedule:
        - cron: "0 1 * * 0" # Sundays at 01:00 UTC

jobs:
    build-cpu-only:
        uses: nuniesmith/fks_actions/.github/workflows/build-docker-base-images.yml@main
        with:
            docker_repo: nuniesmith/fks
            build_cpu: true
            build_ml: false
            build_gpu: false
        secrets:
            DOCKER_TOKEN: ${{ secrets.DOCKER_TOKEN }}
