name: GPU Base Images

on:
    workflow_dispatch:
        inputs:
            push_images:
                description: "Push images to registry"
                required: false
                default: "true"
    schedule:
        - cron: "0 3 * * 0" # Sundays at 03:00 UTC
    push:
        branches: [main]
        paths:
            - "Dockerfile.gpu"

jobs:
    build-gpu-only:
        uses: nuniesmith/fks_actions/.github/workflows/build-docker-base-images.yml@main
        with:
            docker_repo: nuniesmith/fks
            build_cpu: false
            build_ml: false
            build_gpu: true
        secrets:
            DOCKER_TOKEN: ${{ secrets.DOCKER_TOKEN }}
