name: ML Base Image

on:
    workflow_dispatch:
    push:
        branches: [main]
        paths:
            - "Dockerfile.ml"
    schedule:
        - cron: "0 2 * * 0" # Sundays at 02:00 UTC

jobs:
    build-ml-only:
        uses: nuniesmith/fks_actions/.github/workflows/build-docker-base-images.yml@main
        with:
            docker_repo: nuniesmith/fks
            build_cpu: false
            build_ml: true
            build_gpu: false
        secrets:
            DOCKER_TOKEN: ${{ secrets.DOCKER_TOKEN }}
